@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Data query test page</h1>
    <p>
        <a href="/dataquery?dimensions=US_Date&dimensions=US_NbConnexion&asc=false&sort=US_Date&filters=U_Name%3D%3DJean-Marc">/dataquery?dimensions=US_Date&dimensions=US_NbConnexion&asc=false&sort=US_Date&filters=U_Name%3D%3DJean-Marc</a>
    </p>
    <p>
        <a href="/dataquery?dimensions=US_Date">/dataquery?dimensions=US_Date</a>
    </p>
    <p>
        <a href="/dataquery/schema">View schema</a>
    </p>
</div>
