@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Data query test page</h1>
    <p>
        <a href="/dataquery?dimensions=Date&metrics=NbConnexion&period=2w&asc=false&sort=Date&filters=Name%3D%3DJean-Marc">/dataquery?dimensions=Date&metrics=NbConnexion&period=2w&asc=false&sort=Date&filters=Name%3D%3DJean-Marc</a>
    </p>
    <p>
        <a href="/dataquery?dimensions=Date">/dataquery?dimensions=Date</a>
    </p>
</div>
